:root {
    font-family: Urbanist;
    background-color: #e6f0f7;
}

h1 {
    font-family: Dosis;
    color: #585850;
}

h2 {
    text-align: center;
    font-family: Dosis;
    color: #585850;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    align-items: center;
    background-color: #7C90A0;
}

header img {
    max-width: 100px;
    margin-left: 10%;
}

header a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.hero {
    position: relative;
    height: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
}

.hero h1 {
    position: absolute;
    width: 100%;   
    top: 20px;
    background-color: #4E5166DE;
    text-align: center;
}

.hero article {
    position: absolute;
    display: flex;
    top: 120px;
    width: 100%;
    background-color: #7C90A0CC;
    justify-content: space-around;
    color: white;
} 

.hero article img {
    float: right;
    max-width: 200px;
}

.history {
    display: flex;
    justify-content: space-around;
}

.history p {
    max-width: 33%;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery img {
    max-width: 200px;
}

footer{
    position: relative;
    min-height: 80px;
    background-color: #7C90A0;
}

footer p{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials{
    position: absolute;
    right: 30px;
    top: 50%;
}

footer img {
    max-width: 25px;
}

footer a {
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    margin-left: 80px;
}

.employees { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #B9B7A7;
}

.employees img {
    max-width: 250px;
    max-height: 250px;
}

.form-header {
    text-align: center;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: grid;
    grid-gap: 20px;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 10px;
    margin-right: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-gap: 10px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

label {
    text-align: right;
    padding-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button {
    padding: 12px 20px;
    font-size: 1.1em;
    background-color: #4E5166CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4E5166;
}

.call {
    text-align: center;
    margin: 40px;
}

.call-button {
    text-decoration: none;
    background-color: #4E5166;
    color: white;
    padding: 7px;
}

.newsletter {
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid #4E5166;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    max-height: 337px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.grid-item h3 {
    font-family: Dosis;
    color: #4E5166;
    margin-bottom: 10px;
}

.grid-item p {
    font-family: Urbanist;
    color: #333;
    max-width: 90%;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.grid-item h3 {
    font-family: Dosis;
    color: #4E5166;
    margin-bottom: 10px;
}

.grid-item p {
    font-family: Urbanist;
    color: #333;
    max-width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-family: Urbanist;
}

table th {
    background-color: #4E5166;
    color: white;
    font-family: Dosis;
}

table td {
    background-color: #f9f9f9;
    color: #333;
}

table tbody tr:hover {
    background-color: #eaeaea;
}
